<p>
    Former Vice President Mike Pence’s chief counsel laid out in a memo the day before Jan. 6, 2021, that the vice
    president would violate federal law if he bowed to pressure from President Donald J. Trump to interfere with the
    certification of Joseph R. Biden Jr.’s victory.
</p>

<p>
    The Great Depression is a point in time when humanity suffered from the worst economic downturn in history. The
    point that impacted the daily lives of people across the street, beyond the oceans. No one was excluded. Recently
    there was another disaster to this scale. Covid-19 affects all aspects of our lives. With our own two eyes, we saw
    the causalities and the conditions of the natural flow of society. Has history repeated itself yet again? With what
    we've experienced with Covid-19, have we experienced another Great Depression?
</p>